/*
Load custom fonts - 
adapted from Jurassic Future team project (JF) with help from Google Fonts and Figma
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rufina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal&display=swap');

/*
Configure global top-level grid container - 
adapted from South London Online Reading Group example (SLORG) and Mozilla Developer Network (MDN)
*/
body {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    'header'
    'main'
    'footer'
  ;
}

/*
Configure header grid container - 
adapted from SLORG with help from MDN
*/
#logo {
  grid-area: logo;
}

.title-section {
  grid-area: title;
}

#banner {
  grid-area: banner;
}

header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    'logo title'
    'banner banner'
  ;
}

/*Start Index Styles---------------------------*/

/*
adapted from JF with help from SLORG, MDN, and W3schools (W3) and design inspiration from Undressed Press newsletter (UP)
*/

body {
  margin: 2em;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

header {
  background-color: #1CBFCB;
  position: relative;
}

header a {
  text-decoration: none;
}

#logo {
  height: 120px;
}

#logo img {
  margin: 20px;
  max-height: 90%;
}

.title-section {
  text-align: center;
}

.title-section h1 {
  margin: 0.2em;
  font-family: 'Rufina', 'Times New Roman', Times, serif;
  color: #E8D4A3;
  font-size: 3em;
}

.subtitle-section {
  margin: auto;
  width: 40%;
  background-color: #E8D4A3;
}

.subtitle-section h3 {
  font-family: 'Metal', 'Times New Roman', Times, serif;
  color: #AA4055;
}

/*privacy banner - adapted from JF with help from MDN*/
#banner {
  height: 30px;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
}

/*hover effect for buttons - adapted from https://www.w3schools.com/howto/howto_css_transition_hover.asp */
.button {
  opacity: .6;
  transition: 0.3s;
}

.button:hover {
  opacity: 1;
}

/*
Configure slideshow grid container - 
adapted from SLORG with help from MDN
*/
#latest {
  grid-area: latest;
}

#lb {
  grid-area: lb;
}

#slider {
  grid-area: slider;
}

#rb {
  grid-area: rb;
}

.dot-container {
  grid-area: dots;
}

.ss .article-title {
  grid-area: ss-title;
}

.ss .article-author {
  grid-area: ss-author;
}

.ss .article-teaser {
  grid-area: ss-teaser;
}

.ss .article-cta {
  grid-area: ss-cta;
}

.ss {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas:
    '. latest .'
    'lb slider rb'
    '. dots .'
    '. ss-title .'
    '. ss-author .'
    '. ss-teaser .'
    '. ss-cta .'
  ;
}

/*Articles slideshow styles - adapted from JF*/

.ss {
  margin-top: 10px;
  position: inherit;
  width: 100%;
  /* display: flex; */
  align-items: center;
  justify-items: center;
}

/*
.ss img {
  width: 800px;
  height: 400px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  z-index: -1;
}

.dot-container{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.dot {
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/*
.description-container{
  font-family: 'Times New Roman', Times, serif;
  display: grid;
  grid-template-columns: auto auto auto;
  height: 35vh;
  width: 100vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.description-item{
  font-family: 'Times New Roman', Times, serif;
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #c4c4c4;
  border-radius: 10px;
  margin-bottom: 5vh;
}

@keyframes travelAnimation {
  0%{
    transform: translateX(-80vw);
  }

  50% {
    transform: translateX(5vw);
  }

  100% {
    transform: translateX(0);
  }
}

a {
  display: inline-block;
}
object {
  pointer-events: none;
}

footer{
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  background-color: #1CBFCB;
  bottom:0;
  text-align: center;
  color: white;
} 